<div ng-controller="ListController">
    <table class="table table-bordered table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ad</th>
                <th>Miktar</th>
                <th>Fiyat</th>
                <th>Detay</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tr ng-repeat="u in uruns">
            <td>{{u.Id}}</td>
            <td>{{u.UrunAd}}</td>
            <td>{{u.UrunMiktar}}</td>
            <td>{{u.UrunFiyat}}</td>
            <td><a href="#/detay/{{u.Id}}">Detay</a></td>
            <td><a href="#" class="btn-default" ng-click="delete(u)">Sil</a></td>
        </tr>
    </table>
    <button class="btn-danger" ng-click="Olustur()">Ürün Oluştur</button>
    <div ng-include="'/Client/Views/ekle.html'"></div>
</div>
