<script>
        $.post('../Birinci/sayfaDurum', { id: 10 }, function (data) {
            if (data.basari == 0) {
                console.log(data);
                if (data.son == 1) window.location = "#/Profil";
                else if (data.son == 2) window.location = "#/Cv";
                else if (data.son == 3) window.location = "#/Evrak";
                else if (data.son == 4) window.location = "#/UcakBilgi";
                else if (data.son == 5) window.location = "#/Egitim";
                else if (data.son == 6) window.location = "#/RandevuAl";
                else if (data.son == 7) window.location = "#/EkBilgi";
                else if (data.son == 8) window.location = "#/Ds160";
                else if (data.son == 9) window.location = "#/Aktivasyon";
                else if (data.son == 10) window.location = "#/TaksitBilgi";
            }
        });
</script>
<div class="tab-pane" id="aktivasyon">
    <div ng-controller="KisiTanimaController">
        <h1 ng-model="deneme">Aktivasyon kodu</h1>
        <h3>{{aktivasyonMesaj}}</h3>
        <form>
            <fieldset>
                <!-- required html5 o input dolu olack :D -->
                <div class="form-group">
                    <label class="TC" for="form-group-input">Aktivasyon Kodu* </label>
                    <input type="text" class="form-control" maxlength="5" ng-model="kod" id="kod" size="5" placeholder="Aktivasyon kodu . . ." required>
                </div>
            </fieldset>
            <button ng-click="Aktivasyon()">Devam Et </button>

        </form>
    </div>
    </div>
    <script>
        $("#kod").keyup(function () {
            if (this.value.match(/[^0-9]/g)) {
                this.value = this.value.replace(/[^0-9]/g, '');
            }
        });//rakam
    </script>
<script>
    $.post('../Birinci/RenkDurumCek', function (data) {
        $('#dashboard').attr("style", "background-color:green");

        if (data.birincisayfa == "1")
            $('#birincisayfa').attr("style", "background-color:gray");
        else
            $('#birincisayfa').attr("style", "background-color:green");

        //besinci sayfa
        if (data.besincisayfa == "1")
            $('#besincisayfa').attr("style", "background-color:gray");
        else
            $('#besincisayfa').attr("style", "background-color:green");


        //aktivasyon sayfa
        if (data.aktivasyon == "1")
            $('#aktivasyon').attr("style", "background-color:gray");
        else
            $('#aktivasyon').attr("style", "background-color:green");


        //radevu al sayfa
        if (data.randevual == "1")
            $('#randevual').attr("style", "background-color:gray");
        else
            $('#randevual').attr("style", "background-color:green");


        //ikicisayfa sayfa
        if (data.ikincisayfa == "1")
            $('#ikincisayfa').attr("style", "background-color:gray");
        else
            $('#ikincisayfa').attr("style", "background-color:green");

        //ucuncusayfa sayfa
        if (data.ucuncusayfa == "1")
            $('#ucuncusayfa').attr("style", "background-color:gray");
        else
            $('#ucuncusayfa').attr("style", "background-color:green");


        //dorduncusayfa sayfa
        if (data.dorduncusayfa == "1")
            $('#dorduncusayfa').attr("style", "background-color:gray");
        else
            $('#dorduncusayfa').attr("style", "background-color:green");



        //ucakbilgi sayfa
        if (data.ucakbilgi == "1")
            $('#ucakbilgi').attr("style", "background-color:gray");
        else
            $('#ucakbilgi').attr("style", "background-color:green");

        //isler sayfa
        if (data.isler == "1")
            $('#isler').attr("style", "background-color:gray");
        else
            $('#isler').attr("style", "background-color:green");

        //cv sayfa
        if (data.tahsilat == "1")
            $('#taksitbilgi').attr("style", "background-color:gray");
        else
            $('#taksitbilgi').attr("style", "background-color:green");

        //cv sayfa
        if (data.cv == "1")
            $('#cv').attr("style", "background-color:gray");
        else
            $('#cv').attr("style", "background-color:green");

        //cv sayfa
        if (data.isler == "1")
            $('#isler').attr("style", "background-color:gray");
        else
            $('#isler').attr("style", "background-color:green");
    });

</script>
