<div ng-controller="BesinciSayfaController">
    <h1 ng-model="deneme">Adım 5 {{deneme}} </h1>
    <div class="container">
        <h2>5.1 Adım</h2>
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <form>
                    <fieldset>
                        <div class="form-group">
                            <label class="DogumYeri" for="form-group-input">Dogum Yeri </label>
                            <input type="text" class="form-control" ng-model="dogumYeri" id="dogumYeri" placeholder="Dogum Yeri . . ." required>
                        </div>
                        <div class="form-group">
                            <label class="DogumUlke" for="form-group-input">Dogum Ulke </label>
                            <input type="text" class="form-control" ng-model="dogumUlke" id="dogumUlke" placeholder="Dogum Ulke . . ." required>
                        </div>

                        <div class="form-group">
                            <label class="VatandasUlke" for="form-group-input">Vatandaş Olunan Ülke</label>
                            <input type="text" class="form-control" ng-model="vatandasUlke" id="vatandasUlke" placeholder="Vatandas Ülke. . ." required>
                        </div>

                        <div class="form-group">
                            <label class="VatandasNo" for="form-group-input">Vatandaş No </label>
                            <input type="number" class="form-control" ng-model="vatandasNo" id="vatandasNo" placeholder="Vatandas No. . ." required>
                        </div>
                        <div class="form-group">
                            <label class="IkinciVatandasNo" for="form-group-input">İkinci Vatandaş No </label>
                            <input type="number" class="form-control" ng-model="ikiVatandasNo" id="ikiVatandasNo" placeholder="Iki Vatandas No. . ." required>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">Amerika Bilgileri</div>
                <div class="panel-body">
                    <form>
                        <fieldset>
                            <div class="form-group">
                                <label class="AbdSsn" for="form-group-input">AbdSsn</label>
                                <input type="text" class="form-control" ng-model="AbdSsn" id="AbdSsn" placeholder="AbdSsn. . ." required>
                            </div>

                            <div class="form-group">
                                <label class="AmerikadaBulunduMu" for="form-group-input">Amerikada Bulundu Mu.</label>
                                <input type="radio" ng-model="amerikadaBulunduMu" value="1" id="radio" /> Evet, Var
                                <input type="radio" ng-model="amerikadaBulunduMu" value="0" /> Hayır, Yok
                            </div>
                            <div class="form-group">
                                <label class="AmerikaBulunduguTarih" for="form-group-input">Amerika Bulundugu Tarih</label>
                                <input type="date" class="form-control" ng-model="amerikadaBulunmaTarih" id="AbdSsn" placeholder="Amerika Bulundugu Tarih. . ." required>
                            </div>
                            <div class="form-group">
                                <label class="AmerikaBulunduguSure" for="form-group-input">Amerika Bulundugu Süre</label>
                                <input type="number" class="form-control" ng-model="amerikaBulunduguSure" id="amerikadaKalmaSure" placeholder="Amerika Bulundugu Süre. . ." required>
                            </div>
                            <div class="form-group">
                                <label class="OncedenAmerikaVizesiAldı" for="form-group-input">Onceden Amerika Vizesi Aldı.</label>
                                <input type="radio" ng-model="oncedenAmerikaVizesi" value="1" /> Evet, Var
                                <input type="radio" ng-model="oncedenAmerikaVizesi" value="0" /> Hayır, Yok
                            </div>
                            <div class="form-group">
                                <label class="OncedenAmerikaVizeRet" for="form-group-input">Onceden Amerika Vize Ret.</label>
                                <input type="radio" ng-model="oncedenAmerikaVizeRet" value="1" id="radio" /> Evet, Var
                                <input type="radio" ng-model="oncedenAmerikaVizeRet" value="0" /> Hayır, Yok
                            </div>
                            <div class="form-group">
                                <label class="OncedenAmerikaVizeRetNedeni" for="form-group-input">Onceden Amerika Vize Ret Nedeni</label>
                                <input type="text" class="form-control" ng-model="oncedenAmerikaVizeRetNedeni" id="oncedenAmerikaVizeRetNedeni" placeholder="Onceden Amerika Vizesi Ret Neden . . ." required>
                            </div>
                            <div class="form-group">
                                <label class="AmerikaVatandasGocmenBasvuru" for="form-group-input">Amerika Vatandas Gocmen Basvuru.</label>
                                <input type="radio" ng-model="amerikaVatandasGocmenBasvuru" value="1" id="radio" /> Evet, Var
                                <input type="radio" ng-model="amerikaVatandasGocmenBasvuru" value="0" /> Hayır, Yok
                            </div>
                            <div class="form-group">
                                <label class="BabaDogumTarihi" for="form-group-input">Baba Dogum Tarihi</label>
                                <input type="date" class="form-control" ng-model="babaDogumTarihi" id="babaDogumTarihi" placeholder="Baba Dogum Tarihi. . ." required>
                            </div>
                            <div class="form-group">
                                <label class="BabaAmerikadaMi" for="form-group-input">Baba Amerikada Mi.</label>
                                <input type="radio" ng-model="babaAmerikadaMi" value="1" id="radio" /> Evet, Var
                                <input type="radio" ng-model="babaAmerikadaMi" value="0" /> Hayır, Yok
                            </div>
                            <div class="form-group">
                                <label class="AskerlikYapti" for="form-group-input">Askerlik Yapti Mi.</label>
                                <input type="radio" ng-model="askerlikYapti" value="1" id="radio" /> Evet, Var
                                <input type="radio" ng-model="askerlikYapti" value="0" /> Hayır, Yok
                            </div>
                            <div class="form-group">
                                <label class="SonBesYilYurtdisiGitti" for="form-group-input">Son Bes Yil Yurt disi Gitti.</label>
                                <input type="radio" ng-model="sonBesYil" value="1" id="radio" /> Evet, Var
                                <input type="radio" ng-model="sonBesYil" value="0" /> Hayır, Yok
                            </div>
                            <div class="form-group">
                                <label class="AmerikaVatandasGocmenBasvuru" for="form-group-input">Amerika Vatandas Gocmen Basvuru.</label>
                                <input type="radio" ng-model="amerikaVatandasGocmenBasvuru" value="1" id="radio" /> Evet, Var
                                <input type="radio" ng-model="amerikaVatandasGocmenBasvuru" value="0" /> Hayır, Yok
                            </div><!--HATA VAR TESPİT EDEMEDİM !!! -->
                            <div class="form-group">
                                <label class="AnneDogumTarihi" for="form-group-input">Anne Dogum Tarihi</label>
                                <input type="date" class="form-control" ng-model="anneDogumTarihi" id="anneDogumTarihi" placeholder="Anne Dogum Tarihi. . ." required>
                            </div>
                            <div class="form-group">
                                <label class="AnneAmerikadaMi" for="form-group-input">Anne Amerikada Mi.</label>
                                <input type="radio" ng-model="anneAmerikadaMi" value="1" id="radio" /> Evet, Var
                                <input type="radio" ng-model="anneAmerikadaMi" value="0" /> Hayır, Yok
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <button ng-click="AltinciSayfa()">Devam Et </button>
    <script>
        $("#vatandasNo,#ikiVatandasNo,#amerikadaKalmaSure,#oncedenAmerikaVizeNo").keyup(function () {
        if (this.value.match(/[^0-9]/g)) {
            this.value = this.value.replace(/[^0-9]/g, '');
        }
    });//rakam
        $("#dogumYeri,#dogumUlke,#vatandasUlke,#AbdSsn,#OncedenAmerikaVizeRetNedenid").keyup(function () {
        if (this.value.match(/[^a-zA-Z]/g)) {
            this.value = this.value.replace(/[^a-zA-Z]/g, '');
        }
    });//harf

    </script>