
<div class="tab-pane" id="birincisayfa">
    <div ng-controller="KisiTanimaController">
        <h3>{{birinciMesaj}}</h3>
        <form id="profile">
            <fieldset>
                <!-- required html5 o input dolu olack :D -->
                <div class="form-group" ng-repeat="n in birinciElemans">
                    <label for="form-group-input">{{n.Aciklama}}{{n.Zorunlu}}</label>
                    <input ng-if="n.iTur !== 'radio' && n.iTur !== 'textarea'" type="{{n.iTur}}" id="{{n.Id}}" name="{{n.Name}}" class="form-control" maxlength="{{n.Max}}" placeholder="{{n.Placeholder}}" value="{{n.Icerik}}" required>
                    <br />
                    <span ng-if="n.iTur === 'radio'" ng-repeat="s in n.Secenek">
                        <span ng-if="s.Secili === 0">
                            <input type="{{n.iTur}}" id="{{n.Id}}" value="{{s.Id}}" name="rd" /> {{s.secenek}}
                        </span>
                        <span ng-if="s.Secili === 1">
                            <input type="{{n.iTur}}" id="{{n.Id}}" value="{{s.Id}}" name="rd" checked/> {{s.secenek}}
                        </span>
                    </span>
                    <textarea ng-if="n.iTur === 'textarea'" class="form-control" rows="5"></textarea>
                </div>
            </fieldset>
            <button ng-click="profilSayfa('profile')">Devam Et </button>
        </form>
    </div>
</div>

<script>
    $("#tc,#Telefon").keyup(function () {
        if (this.value.match(/[^0-9]/g)) {
            this.value = this.value.replace(/[^0-9]/g, '');
        }
    });//rakam
    $("#Ad,#OrtaAd,#Soyad").keyup(function () {
        if (this.value.match(/[^a-zA-Z]/g)) {
            this.value = this.value.replace(/[^a-zA-Z]/g, '');
        }
    });//harf
</script>
<script>
    $('#birincisayfa').attr("style", "background-color:green");
    $('#aktivasyon').attr("style", "background-color:gray");
    $('#besincisayfa').attr("style", "background-color:gray");
    $('#ikincisayfa').attr("style", "background-color:gray");
    $('#ucuncusayfa').attr("style", "background-color:gray");
    $('#dorduncusayfa').attr("style", "background-color:gray");
    $('#randevual').attr("style", "background-color:gray");
    $('#ucakbilgi').attr("style", "background-color:gray");
    $('#isler').attr("style", "background-color:gray");
    $('#cv').attr("style", "background-color:gray");


</script>