
<div class="tab-pane" id="birincisayfa">
    <div ng-controller="KisiTanimaController">
        <h1 ng-model="deneme">Adım 1</h1>
        <h3>{{birinciMesaj}}</h3>
        <form>
            <fieldset>

                <!-- required html5 o input dolu olack :D -->
                <div class="form-group" ng-repeat="n in birinciElemans">
                    <label for="form-group-input">{{n.Aciklama}}{{n.Zorunlu}} </label>
                    <input ng-if="n.iTur !== 'radio'" type="{{n.iTur}}" name="{{n.Name}}" class="form-control" maxlength="{{n.Max}}" placeholder="{{n.Placeholder}}" required>
                    <br />
                    <span ng-if="n.iTur === 'radio'" ng-repeat="s in n.Secenek">
                        <input type="{{n.iTur}}" ng-model="kendiIs" value="{{s.Id}}" /> {{s.secenek}}
                    </span>
                </div>
            </fieldset>
            <button ng-click="BirinciSayfa()">Devam Et </button>

        </form>
    </div>
</div>

<script>
    $("#tc,#Telefon").keyup(function () {
        if (this.value.match(/[^0-9]/g)) {
            this.value = this.value.replace(/[^0-9]/g, '');
        }
    });//rakam
    $("#Ad,#OrtaAd,#Soyad").keyup(function () {
        if (this.value.match(/[^a-zA-Z]/g)) {
            this.value = this.value.replace(/[^a-zA-Z]/g, '');
        }
    });//harf
</script>