<div class="tab-pane" id="cv">

    <div ng-controller="KisiTanimaController">
        <h1 ng-model="deneme">Özgeçmiş  / CV </h1>
        <form id="cv">
            <fieldset>
                asd {{cvGsm}}
                sad {{cvTel}}
                asd {{cvEmail}}
                asd  {{cvAdres}}
                Ad :  {{cvKisiAd}}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group" ng-repeat="c in cvElemans">
                            <label class="KariyerHedef" for="form-group-input">{{c.Aciklama}}{{c.Zorunlu}}</label>
                            <input ng-if="c.iTur !== 'radio' && c.iTur !== 'textarea' &&  c.iTur !== 'select'" type="{{c.iTur}}" id="{{c.Id}}" name="{{c.Name}}" class="form-control" maxlength="{{c.Max}}" placeholder="{{c.Placeholder}}" value="{{c.Icerik}}" required>
                            <br />
                            <span ng-if="c.iTur === 'radio'" ng-repeat="s in c.Secenek">
                                <span ng-if="s.Secili === 0">
                                    <input type="{{c.iTur}}" id="{{c.Id}}" value="{{s.Id}}" name="rd" /> {{s.secenek}}
                                </span>
                                <span ng-if="s.Secili === 1">
                                    <input type="{{c.iTur}}" id="{{c.Id}}" value="{{s.Id}}" name="rd" checked /> {{s.secenek}}
                                </span>
                            </span>
                            <textarea ng-if="c.iTur === 'textarea'" class="form-control" rows="5"></textarea>
                            <span ng-if="c.iTur === 'select'">
                                <select class="combobox">
                                    <option ng-repeat="s in c.Secenek" value="{{s.Id}}">{{s.secenek}}</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Referans</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="RefTel" for="form-group-input">Referans Telefon</label>
                            <input type="text" class="form-control" ng-model="cvRefTel" id="cvRefTel" placeholder="Referans Telefon . . . " required>
                        </div>
                        <div class="form-group">
                            <label class="RefAdSoyad" for="form-group-input">Refersans Adı ve Soyadı* </label>
                            <input type="text" class="form-control" ng-model="cvRefAdSoyad" id="cvRefAdSoyad" placeholder="Refersans Adı ve Soyadı. . . " required>
                        </div>
                    </div>
                </div>
            </fieldset>
            <button ng-click="CvKaydet()">Cv Kaydet</button>
        </form>
    </div>
    </div>
    <script>
        $('#cv').attr("style", "background-color:green");
        $('#aktivasyon').attr("style", "background-color:gray");
        $('#besincisayfa').attr("style", "background-color:gray");
        $('#ikincisayfa').attr("style", "background-color:gray");
        $('#ucuncusayfa').attr("style", "background-color:gray");
        $('#dorduncusayfa').attr("style", "background-color:gray");
        $('#randevual').attr("style", "background-color:gray");
        $('#ucakbilgi').attr("style", "background-color:gray");
        $('#isler').attr("style", "background-color:gray");
        $('#birincisayfa').attr("style", "background-color:gray");


    </script>
