<div ng-controller="KisiTanimaController" data-ng-init="fn_load()">
    <h1 ng-model="deneme">Özgeçmiş  / CV </h1>
    <form>
        <fieldset>
            asd {{cvGsm}}
            sad {{cvTel}}
            asd {{cvEmail}}
            asd  {{cvAdres}}
            Ad :  {{cdKisiAd}}
            <div class="panel panel-default">
                <div class="panel-heading">Adım 1</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="KariyerHedef" for="form-group-input"> Kariyer Hedef : </label>
                        <textarea class="form-control" rows="5" ng-model="cvHedef" id="cvHedef"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="CalismakIstediği" for="form-group-input"> Çalışmak İstediği Alanlar: </label>
                        <textarea class="form-control" rows="3" ng-model="cvCalismaIstek" id="cvCalismaIstek"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="Eyalet" for="form-group-input">Ingilizce seviyesi* </label>
                        <select class="combobox" ng-model="ingilizceSeviye">
                            <option ng-repeat="i in ingilizces" value="{{i.Id}}">{{i.Aciklama}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Adım 2</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="DogumTarih" for="form-group-input">Doğum Tarihi* </label>
                        <input type="date" class="form-control" ng-model="cvDogumTarih" id="cvDogumTarih" placeholder="Doğum Tarihi. . . " required>
                    </div>

                    <div class="form-group">
                        <label class="AskerlikDurum" for="form-group-input">Askerlik Durumu* </label><br />
                        <input type="radio" ng-model="cvAskerlik" value="1" id="cvAskerlik" /> Yaptı
                        <input type="radio" ng-model="cvAskerlik" value="0" /> Yapmadı
                    </div>

                    <div class="form-group">
                        <label class="MedeniDurum" for="form-group-input">Medeni Durumu* </label><br />
                        <input type="radio" ng-model="cvMedeni" value="1" /> Evli
                        <input type="radio" ng-model="cvMedeni" value="0" /> Dul
                        <input type="radio" ng-model="cvMedeni" value="2" /> Bekar
                    </div>

                    <div class="form-group">
                        <label class="BilgisyarBilgi" for="form-group-input">Bilgisyar Bilgi* </label><br />
                        <input type="radio" ng-model="cvPcBilgi" value="1" /> İyi
                        <input type="radio" ng-model="cvPcBilgi" value="0" /> Çok İyi
                        <input type="radio" ng-model="cvPcBilgi" value="0" /> Kötü
                        <input type="radio" ng-model="cvPcBilgi" value="0" /> İdare eder ;)
                    </div>

                    <div class="form-group">
                        <label class="Hobiler" for="form-group-input"> Hobiler: </label>
                        <textarea class="form-control" rows="3" ng-model="cvHobiler" id="cvHobiler"></textarea>
                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Referans</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="RefTel" for="form-group-input">Referans Telefon</label>
                        <input type="text" class="form-control" ng-model="cvRefTel" id="cvRefTel" placeholder="Referans Telefon . . . " required>
                    </div>

                    <div class="form-group">
                        <label class="RefAdSoyad" for="form-group-input">Refersans Adı ve Soyadı* </label>
                        <input type="text" class="form-control" ng-model="cvRefAdSoyad" id="cvRefAdSoyad" placeholder="Refersans Adı ve Soyadı. . . " required>
                    </div>
                </div>
            </div>





        </fieldset>
        <button ng-click="CvKaydet()">Cv Kaydet</button>
    </form>
</div>



