
<div class="tab-pane" id="dashboard">
    <div ng-controller="KisiTanimaController">
            <div class="panel panel-success">
                <div class="panel-heading">Son Girişlerim</div>
                <div class="panel-body">
                    <span ng-repeat="l in logs">{{l.Giris}}<br /></span>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Notlar</div>
                <div class="panel-body">
                    Son olarak Ucak Bilgileri Sayfasında kaldınız.<br />
                    NOT2<br />
                    NOT3<br />
                    NOT4<br />
                
                </div>
            </div>
        </div>
    </div>
<script>
    $('#birincisayfa').attr("style", "background-color:gray");
    $('#aktivasyon').attr("style", "background-color:gray");
    $('#besincisayfa').attr("style", "background-color:gray");
    $('#ikincisayfa').attr("style", "background-color:gray");
    $('#ucuncusayfa').attr("style", "background-color:gray");
    $('#dorduncusayfa').attr("style", "background-color:gray");
    $('#randevual').attr("style", "background-color:gray");
    $('#ucakbilgi').attr("style", "background-color:gray");
    $('#isler').attr("style", "background-color:gray");
    $('#cv').attr("style", "background-color:gray");
    $('#cv').attr("style", "background-color:green");
</script>