<script>
        $.post('../Birinci/sayfaDurum', { id: 3 }, function (data) {
            if (data.basari == 0) {
                console.log(data);
                if (data.son == 1) window.location = "#/Profil";
                else if (data.son == 2) window.location = "#/Cv";
                else if (data.son == 3) window.location = "#/Evrak";
                else if (data.son == 4) window.location = "#/UcakBilgi";
                else if (data.son == 5) window.location = "#/Egitim";
                else if (data.son == 6) window.location = "#/RandevuAl";
                else if (data.son == 7) window.location = "#/EkBilgi";
                else if (data.son == 9) window.location = "#/Ds160";
                else if (data.son == 10) window.location = "#/Aktivasyon";
                else if (data.son == 1010) window.location = "#/Wat";
                else if (data.son == 1011) window.location = "#/isler";
            }
        });
</script>
<style>
    .gizli{
        display:none;
    }
    .gozuken{
    display:block;
    }
</style>
<div class="tab-pane" id="dorduncusayfa">
    <div ng-controller="KisiTanimaController">

        <div class="panel panel-info">
            <div class="panel-heading">Fotoğraf</div>

            <br />
            <form novalidate name="f1" id="evrakvepasaport">
                <img ng-if="evrakEleman.Foto_URL !== ''" id="dort_2d" src="Images/{{evrakEleman.Foto_URL}}" width="60" />
                <img ng-if="evrakEleman.Foto_URL === ''" id="dort_2d" />
                <input type="file" name="file" accept="*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required class="file file-loading" style="display:inline;"/>
                <input type="submit" ng-click="SaveFile(2,0)" value="Yükle" class="btn btn-danger" />
            </form>

        </div>
        <br />

        <div class="panel panel-info">
            <div class="panel-heading">Öğrenci Belgesi</div>
            <br />
            <form novalidate name="f1" id="evrakvepasaport">
                <a id="dort_3d" ng-if="evrakEleman.OgrBelge_URL !== ''" href="Images/{{evrakEleman.OgrBelge_URL}}"> Öğrenci Belgesini Göster</a>
                <a id="dort_3d" ng-if="evrakEleman.OgrBelge_URL === ''" style="display:none"> Öğrenci Belgesini Göster</a>
                <input type="file" name="file" accept="*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required style="display:inline;" />
                <input type="submit" ng-click="SaveFile(3,1)" value="Yükle" class="btn btn-danger" />
            </form>
        </div>

    <div class="panel panel-info">
        <div class="panel-heading">Pasaport</div><br />

        <form novalidate name="f1" id="evrakvepasaport">
            <a id="dort_4d" ng-if="evrakEleman.Pas_URL !== ''" href="Images/{{evrakEleman.Pas_URL}}"> Pasaport Göster</a>
            <a id="dort_4d" ng-if="evrakEleman.Pas_URL === ''" style="display:none"> Pasaport Göster</a>
            <input type="file" name="file" accept="*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required style="display:inline;" />
            <input type="submit" ng-click="SaveFile(4,1)" value="Yükle" class="btn btn-danger" />
        </form>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Adil Sicil</div><br />

        <form novalidate name="f1" id="evrakvepasaport">
            <a id="dort_5d" ng-if="evrakEleman.Adil_URL !== ''" href="Images/{{evrakEleman.Adil_URL}}">Adil Sicil Göster</a>
            <a id="dort_5d" ng-if="evrakEleman.Adil_URL === ''" style="display:none">Adil Sicil Göster</a>
            <input type="file" name="file" accept="*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required style="display:inline;" />
            <input type="submit" ng-click="SaveFile(5,1)" value="Yükle" class="btn btn-danger" />
        </form>
    </div>

    </div>
    </div>



<script>
    $.post('../Birinci/RenkDurumCek', function (data) {
        if (data.birincisayfa == "1")
            $('#birincisayfa').attr("style", "background-color:gray");
        else
            $('#birincisayfa').attr("style", "background-color:green");

        //besinci sayfa
        if (data.besincisayfa == "1")
            $('#besincisayfa').attr("style", "background-color:gray");
        else
            $('#besincisayfa').attr("style", "background-color:green");


        //aktivasyon sayfa
        if (data.aktivasyon == "1")
            $('#aktivasyon').attr("style", "background-color:gray");
        else
            $('#aktivasyon').attr("style", "background-color:green");


        //radevu al sayfa
        if (data.randevual == "1")
            $('#randevual').attr("style", "background-color:gray");
        else
            $('#randevual').attr("style", "background-color:green");


        //ikicisayfa sayfa
        if (data.ikincisayfa == "1")
            $('#ikincisayfa').attr("style", "background-color:gray");
        else
            $('#ikincisayfa').attr("style", "background-color:green");

        //ucuncusayfa sayfa
        if (data.ucuncusayfa == "1")
            $('#ucuncusayfa').attr("style", "background-color:gray");
        else
            $('#ucuncusayfa').attr("style", "background-color:green");


        //dorduncusayfa sayfa
        if (data.dorduncusayfa == "1")
            $('#dorduncusayfa').attr("style", "background-color:gray");
        else
            $('#dorduncusayfa').attr("style", "background-color:green");



        //ucakbilgi sayfa
        if (data.ucakbilgi == "1")
            $('#ucakbilgi').attr("style", "background-color:gray");
        else
            $('#ucakbilgi').attr("style", "background-color:green");

        //isler sayfa
        if (data.isler == "1")
            $('#isler').attr("style", "background-color:gray");
        else
            $('#isler').attr("style", "background-color:green");

        //cv sayfa
        if (data.tahsilat == "1")
            $('#taksitbilgi').attr("style", "background-color:gray");
        else
            $('#taksitbilgi').attr("style", "background-color:green");

        //cv sayfa
        if (data.cv == "1")
            $('#cv').attr("style", "background-color:gray");
        else
            $('#cv').attr("style", "background-color:green");

        //cv sayfa
        if (data.isler == "1")
            $('#isler').attr("style", "background-color:gray");
        else
            $('#isler').attr("style", "background-color:green");
    });

</script>
