<div ng-controller="KisiTanimaController">
    <h1 ng-model="deneme">Adım 2{{deneme}} </h1>
    <!--Kisisel Detay Bilgi-->
    <div class="container">
        <h2>Kişisel Bilgi Detay</h2>
        <div class="panel panel-default">
            <div class="panel-heading">Kişisel Bilgi Detay</div>
            <div class="panel-body">
                <form>
                    <fieldset>
                        <div class="form-group">
                            <label class="BabaAd" for="form-group-input">Baba Ad </label>
                            <input type="text" class="form-control" ng-model="babaAd" id="babaAd" placeholder="Baba Ad . . ." required>
                        </div>

                        <div class="form-group">
                            <label class="AnneAdSoyad" for="form-group-input"> Anne Ad </label>
                            <input type="text" class="form-control" ng-model="anneAd" id="anneAd" placeholder="Anne Ad. . ." required>
                        </div>

                        <div class="form-group">
                            <label class="Eyalet" for="form-group-input">Ingilizce seviyesi </label>
                            <select class="combobox" ng-model="ingilizceSeviye">
                                <option ng-repeat="i in ingilizces" value="{{i.Id}}">{{i.Aciklama}}</option>
                            </select>
                        </div>


                        <!--Burda Kaldım Radio lar yapılcak-->
                        <div class="form-group">
                            <label class="PasaportVarMi" for="form-group-input">Pasaport Var Mı.</label>
                            <input type="radio" ng-model="pasaport" value="1" checked/> Evet, Var
                            <input type="radio" ng-model="pasaport" value="0" /> Hayır, Yok
                        </div>
                        


                        <div class="form-group">
                            <label class="Eyalet" for="form-group-input">Eyalet </label>
                            <select class="combobox" ng-model="bilgiEyalet">
                                <option ng-repeat="e in eyalets" value="{{e.Id}}">{{e.sehir}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="PostaKodu" for="form-group-input">Posta Kodu</label>
                            <input type="number" class="form-control" ng-model="bilgiPostaKod" id="postaKodu" placeholder="Posta Kodu. . ." required>
                        </div>

                        <div class="form-group">
                            <label class="Ulke" for="form-group-input">Ülke </label>
                            <select class="combobox" ng-model="bilgiUlke">
                                <option ng-repeat="u in ulkes" value="{{u.Id}}">{{u.Ad}}</option>
                            </select>
                        </div>


                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!--Kisisel Detay-->
    <!--iLETİŞİM-->
    <div class="container">
        <h2>İletişim</h2>
        <div class="panel panel-default">
            <div class="panel-heading">İletişim Bilgileri </div>
            <div class="panel-body">
                <form>
                    <fieldset>
                        <!-- required html5 o input dolu olack :D -->
                        <div class="form-group">
                            <label class="Telefon" for="form-group-input">Telefon</label>
                            <input type="text" class="form-control" ng-model="tel" id="Telefon" placeholder="Telefon Numarası. . ." required>
                        </div>

                        <div class="form-group">
                            <label class="Email" for="form-group-input">Email</label>
                            <input type="text" class="form-control" ng-model="email" id="Email" placeholder="Email Adresi. . ." required>
                        </div>

                        <div class="form-group">
                            <label class="Skype" for="form-group-input">Skype</label>
                            <input type="text" class="form-control" ng-model="skype" id="Skaype" placeholder="Skype Adresi. . ." required>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!--İletişim Son-->
    <!--İletişim - Adres Bilgi-->
    <div class="container">
        <h2>Adres</h2>
        <div class="panel panel-default">
            <div class="panel-heading">Adres Bilgileri </div>
            <div class="panel-body">
                <form>
                    <fieldset>
                        <!-- required html5 o input dolu olack :D -->
                        <div class="form-group">
                            <!--Adres-->
                            <label class="Adres" for="form-group-input"> Tam Adres</label>
                            <input type="text" class="form-control" ng-model="tamAdres" id="tamAdres" placeholder="Tam Adres . . ." required>
                        </div>

                        <div class="form-group">
                            <!--Adres-->
                            <label class="AdresDevam" for="form-group-input">Adres Devam (Satır İki )</label>
                            <input type="text" class="form-control" ng-model="adresIki" id="adresIki" placeholder="Adres Devam (Satır Iki) . . ." required>
                        </div>

                        <div class="form-group">
                            <label class="Eyalet" for="form-group-input">Eyalet </label>
                            <select class="combobox">
                                <option  ng-model="adresEyalet" ng-repeat="e in eyalets" value="{{e.Id}}">{{e.sehir}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="PostaKodu" for="form-group-input">Posta Kodu</label>
                            <input type="number" class="form-control" ng-model="adresPostaKod" id="postaKodu" placeholder="Posta Kodu. . ." required>
                        </div>

                        <div class="form-group">
                            <label class="Ulke" for="form-group-input">Ülke </label>
                            <select class="combobox" ng-model="adresUlke">
                                <option ng-repeat="u in ulkes" value="{{u.Id}}">{{u.Ad}}</option>
                            </select>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!--İletişim - Adre Bilgi SON-->

    <button ng-click="IkinciSayfa()">Devam Et </button>
</div>
