<script>
        $.post('../Birinci/sayfaDurum', { id: 12 }, function (data) {
            if (data.basari == 0) {
                console.log(data);
                if (data.son == 1) window.location = "#/Profil";
                else if (data.son == 2) window.location = "#/Cv";
                else if (data.son == 3) window.location = "#/Evrak";
                else if (data.son == 4) window.location = "#/UcakBilgi";
                else if (data.son == 5) window.location = "#/Egitim";
                else if (data.son == 6) window.location = "#/RandevuAl";
                else if (data.son == 7) window.location = "#/EkBilgi";
                else if (data.son == 8) window.location = "#/Ds160";
                else if (data.son == 9) window.location = "#/Aktivasyon";
                else if (data.son == 10) window.location = "#/TaksitBilgi";
            }
        });
</script>
<div ng-controller="KisiTanimaController">
    <h1 ng-model="deneme"></h1>
    <h3>{{islerMesaj}}</h3>
    <form id="frmIsler">
        <fieldset>
            <div class="form-group" id="islerDiv" ng-repeat="i in islers">
                <span ng-if="i.IsBuldu === 0">
                    <input type="checkbox" ng-model="kendiIs" value="{{i.Id}}" id="radio" onclick="isSecildi(this);" />{{i.isAdi}}
                    <label class="TC" for="form-group-input">{{i.isAciklama}} </label>
                </span>
                <span ng-if="i.IsBuldu === 1">
                    Kendi işinizi ayarladığınız için bu adımı atlayabilirsiniz. Eğer bulmadıysanız <a href="#/Profil">Profil</a> ekranından değiştiriniz.
                </span>
            </div>

        </fieldset>
        <button id="buton1" ng-click="IsEkle()">Devam Et</button>
    </form>
</div>
<script>
    $("#tc,#Telefon").keyup(function () {
        if (this.value.match(/[^0-9]/g)) {
            this.value = this.value.replace(/[^0-9]/g, '');
        }
    });//rakam
    $("#Ad,#OrtaAd,#Soyad").keyup(function () {
        if (this.value.match(/[^a-zA-Z]/g)) {
            this.value = this.value.replace(/[^a-zA-Z]/g, '');
        }
    });//harf
    var sayi = 0;
    function isSecildi(secim)
    {
        sayi++;
        if (sayi.value == 0)
            document.getElementById('buton1').disabled = true;
        else if (sayi.value == 4) {
            alert('Son Seçiminizi yapıyorsunuz.');
        }
        else if (sayi.value == 5) {
            alert('Son Seçimi yaptınız');
            document.getElementById('buton1').disabled = true;

        }
        else
            document.getElementById('buton1').disabled = false;

    }
    $(document).ready(function () {
        document.getElementById('buton1').disabled = true;
    });
</script>
<script>
    $.post('../Birinci/RenkDurumCek', function (data) {
        console.log(data);
        if (data.birincisayfa == "1")
            $('#birincisayfa').attr("style", "background-color:gray");
        else
            $('#birincisayfa').attr("style", "background-color:green");

        //besinci sayfa
        if (data.besincisayfa == "1")
            $('#besincisayfa').attr("style", "background-color:gray");
        else
            $('#besincisayfa').attr("style", "background-color:green");


        //aktivasyon sayfa
        if (data.aktivasyon == "1")
            $('#aktivasyon').attr("style", "background-color:gray");
        else
            $('#aktivasyon').attr("style", "background-color:green");


        //radevu al sayfa
        if (data.randevual == "1")
            $('#randevual').attr("style", "background-color:gray");
        else
            $('#randevual').attr("style", "background-color:green");


        //ikicisayfa sayfa
        if (data.ikincisayfa == "1")
            $('#ikincisayfa').attr("style", "background-color:gray");
        else
            $('#ikincisayfa').attr("style", "background-color:green");

        //ucuncusayfa sayfa
        if (data.ucuncusayfa == "1")
            $('#ucuncusayfa').attr("style", "background-color:gray");
        else
            $('#ucuncusayfa').attr("style", "background-color:green");


        //dorduncusayfa sayfa
        if (data.dorduncusayfa == "1")
            $('#dorduncusayfa').attr("style", "background-color:gray");
        else
            $('#dorduncusayfa').attr("style", "background-color:green");



        //ucakbilgi sayfa
        if (data.ucakbilgi == "1")
            $('#ucakbilgi').attr("style", "background-color:gray");
        else
            $('#ucakbilgi').attr("style", "background-color:green");

        //isler sayfa
        if (data.isler == "1")
            $('#isler').attr("style", "background-color:gray");
        else
            $('#isler').attr("style", "background-color:green");

        //cv sayfa
        if (data.tahsilat == "1")
            $('#taksitbilgi').attr("style", "background-color:gray");
        else
            $('#taksitbilgi').attr("style", "background-color:green");

        //cv sayfa
        if (data.cv == "1")
            $('#cv').attr("style", "background-color:gray");
        else
            $('#cv').attr("style", "background-color:green");

        //cv sayfa
        if (data.isler == "1")
            $('#isler').attr("style", "background-color:gray");
        else
            $('#isler').attr("style", "background-color:green");
    });

</script>