<div class="tab-pane" id="randevual">

    <div ng-controller="KisiTanimaController">
        <h1 ng-model="deneme">Randevu Al</h1>
        <h3>{{randevuMesaj}}</h3>
        <form>
            <fieldset>
                <div class="form-group">
                    <label class="DogumTarihi" for="form-group-input">Birinci Alternatif* </label>
                    <input type="date" class="form-control" ng-model="birinciAlternatif" id="birinciAlternatif" required>
                </div>
                <div class="form-group">
                    <label class="DogumTarihi" for="form-group-input">İkinci Alternatif* </label>
                    <input type="date" class="form-control" ng-model="ikinciAlternatif" id="ikinciAlternatif" required>
                </div>
            </fieldset>
            <button ng-click="RandevuAl()">Devam Et </button>

        </form>
    </div>
    </div>
<script>
    $('#randevual').attr("style", "background-color:green");
    $('#aktivasyon').attr("style", "background-color:gray");
    $('#besincisayfa').attr("style", "background-color:gray");
    $('#dorduncusayfa').attr("style", "background-color:gray");
    $('#ucuncusayfa').attr("style", "background-color:gray");
    $('#birincisayfa').attr("style", "background-color:gray");
    $('#isler').attr("style", "background-color:gray");
    $('#ucakbilgi').attr("style", "background-color:gray");
    $('#ikincisayfa').attr("style", "background-color:gray");
    $('#cv').attr("style", "background-color:gray");


</script>