    
<div class="tab-pane" id="taksitbilgi">
    <div ng-controller="KisiTanimaController">
        <div class="panel panel-success">
            <div class="panel-heading">Taksit Bilgilerim</div>
            <div class="panel-body">
                <h3>Taksit Bilgisi</h3>
             <ul>
                <li>Ocak  - 150TL</li>
                 <li>Şubat  - 150TL</li>
                 <li>Mart  - 150TL</li>

             </ul>
            </div>
        </div>
        
    </div>
</div>
<script>
    $('#birincisayfa').attr("style", "background-color:gray");
    $('#aktivasyon').attr("style", "background-color:gray");
    $('#besincisayfa').attr("style", "background-color:gray");
    $('#ikincisayfa').attr("style", "background-color:gray");
    $('#ucuncusayfa').attr("style", "background-color:gray");
    $('#dorduncusayfa').attr("style", "background-color:gray");
    $('#randevual').attr("style", "background-color:gray");
    $('#ucakbilgi').attr("style", "background-color:gray");
    $('#isler').attr("style", "background-color:gray");
    $('#cv').attr("style", "background-color:gray");
    $('#taksitbilgi').attr("style", "background-color:green");
    $('#dashboard').attr("style", "background-color:gray");

</script>