<script>
        $.post('../Birinci/sayfaDurum', { id: 4 }, function (data) {
            if (data.basari == 0) {
                console.log(data);
                if (data.son == 1) window.location = "#/Profil";
                else if (data.son == 2) window.location = "#/Cv";
                else if (data.son == 3) window.location = "#/Evrak";
                else if (data.son == 4) window.location = "#/UcakBilgi";
                else if (data.son == 5) window.location = "#/Egitim";
                else if (data.son == 6) window.location = "#/RandevuAl";
                else if (data.son == 7) window.location = "#/EkBilgi";
                else if (data.son == 8) window.location = "#/Ds160";
                else if (data.son == 9) window.location = "#/Aktivasyon";
                else if (data.son == 10) window.location = "#/TaksitBilgi";
            }
        });
</script>
<div class="tab-pane" id="ucakbilgi">

    <div ng-controller="KisiTanimaController">
        <h3>{{ucakMesaj}}</h3>
        <form id="ucakbilgiform">
            <div class="form-group" ng-repeat="c in ucakElemans">
                <label class="KariyerHedef" for="form-group-input">{{c.Aciklama}}{{c.Zorunlu}}</label>
                <input ng-if="c.iTur !== 'radio' && c.iTur !== 'textarea' &&  c.iTur !== 'select' && c.iTur !== 'file' && c.iTur !== 'ulke' && c.iTur !== 'il'" type="{{c.iTur}}" id="{{c.Id}}" name="{{c.Name}}" class="form-control" maxlength="{{c.Max}}" placeholder="{{c.Placeholder}}" value="{{c.Icerik}}" required>
                <br />
                <span ng-if="c.iTur === 'file'" id="{{c.Id}}">
                    <img ng-if="c.Icerik !== ''" id="{{c.Id}}d" src="Images/{{c.Icerik}}" width="60" />
                    <img ng-if="c.Icerik === ''" id="{{c.Id}}d" />
                    <input type="file" name="file" accept="*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                    <input type="submit" ng-click="SaveFile(c.Id)" value="Yükle" class="btn btn-danger" />
                </span>
                <span ng-if="c.iTur === 'radio'" ng-repeat="s in c.Secenek">
                    <span ng-if="s.Secili === 0">
                        <input type="{{c.iTur}}" id="{{c.Id}}" value="{{s.Id}}" name="{{s.name}}" /> {{s.secenek}}
                    </span>
                    <span ng-if="s.Secili === 1">
                        <input type="{{c.iTur}}" id="{{c.Id}}" value="{{s.Id}}" name="{{s.name}}" checked /> {{s.secenek}}
                    </span>
                </span>
                <textarea ng-if="c.iTur === 'textarea'" id="{{c.Id}}" class="form-control" name="{{c.Name}}" rows="5">{{c.Icerik}}</textarea>
                <span ng-if="c.iTur === 'select'">
                    <select class="combobox">
                        <option ng-repeat="s in c.Secenek" value="{{s.Id}}">{{s.secenek}}</option>
                    </select>
                </span>
                <select ng-if="c.iTur === 'ulke'" class="combobox" ng-change="updateIls(countrySelect)" ng-model="countrySelect">
                    <option ng-repeat="u in ulkes" value="{{u.Id}}">{{u.Ad}}</option>
                </select>
                <select ng-if="c.iTur === 'il'" class="combobox" ng-model="pasIl">
                    <option ng-repeat="e in Eyalets" value="{{e.Id}}">{{e.Ad}}</option>
                </select>
            </div>
            <button ng-click="ucakKaydet('ucakbilgiform')">Devam Et </button>
        </form>
    </div>
    <script>
        $("#tc,#Telefon").keyup(function () {
            if (this.value.match(/[^0-9]/g)) {
                this.value = this.value.replace(/[^0-9]/g, '');
            }
        });//rakam
    </script>
    </div>
<script>
    $.post('../Birinci/RenkDurumCek', function (data) {
        if (data.birincisayfa == "1")
            $('#birincisayfa').attr("style", "background-color:gray");
        else
            $('#birincisayfa').attr("style", "background-color:green");

        //besinci sayfa
        if (data.besincisayfa == "1")
            $('#besincisayfa').attr("style", "background-color:gray");
        else
            $('#besincisayfa').attr("style", "background-color:green");


        //aktivasyon sayfa
        if (data.aktivasyon == "1")
            $('#aktivasyon').attr("style", "background-color:gray");
        else
            $('#aktivasyon').attr("style", "background-color:green");


        //radevu al sayfa
        if (data.randevual == "1")
            $('#randevual').attr("style", "background-color:gray");
        else
            $('#randevual').attr("style", "background-color:green");


        //ikicisayfa sayfa
        if (data.ikincisayfa == "1")
            $('#ikincisayfa').attr("style", "background-color:gray");
        else
            $('#ikincisayfa').attr("style", "background-color:green");

        //ucuncusayfa sayfa
        if (data.ucuncusayfa == "1")
            $('#ucuncusayfa').attr("style", "background-color:gray");
        else
            $('#ucuncusayfa').attr("style", "background-color:green");


        //dorduncusayfa sayfa
        if (data.dorduncusayfa == "1")
            $('#dorduncusayfa').attr("style", "background-color:gray");
        else
            $('#dorduncusayfa').attr("style", "background-color:green");



        //ucakbilgi sayfa
        if (data.ucakbilgi == "1")
            $('#ucakbilgi').attr("style", "background-color:gray");
        else
            $('#ucakbilgi').attr("style", "background-color:green");

        //isler sayfa
        if (data.isler == "1")
            $('#isler').attr("style", "background-color:gray");
        else
            $('#isler').attr("style", "background-color:green");

        //cv sayfa
        if (data.tahsilat == "1")
            $('#taksitbilgi').attr("style", "background-color:gray");
        else
            $('#taksitbilgi').attr("style", "background-color:green");

        //cv sayfa
        if (data.cv == "1")
            $('#cv').attr("style", "background-color:gray");
        else
            $('#cv').attr("style", "background-color:green");

        //cv sayfa
        if (data.isler == "1")
            $('#isler').attr("style", "background-color:gray");
        else
            $('#isler').attr("style", "background-color:green");
    });

</script>