<div ng-controller="UcuncuSayfaController">
    <h1>Adım 3 </h1>
    <div class="panel">
        <div class="panel-body">
            <div class="panel-heading">asdasd</div>
            <form>
                <fieldset>
                    <!-- required html5 o input dolu olack :D -->
                    <div class="form-group">
                        <label class="BabaAd" for="form-group-input">Baba Ad</label>
                        <input type="text" class="form-control" ng-model="tc" id="tc" placeholder="TC Kimlik No . . ." required>
                    </div>
                    <div class="form-group">
                        <label class="Ad" for="form-group-input">Ad</label>
                        <input type="text" class="form-control" ng-model="ad" id="Ad" placeholder="Adınız. . ." required>
                    </div>

                    <div class="form-group">
                        <label class="OrtaAd" for="form-group-input">Orta Ad </label>
                        <input type="text" class="form-control" ng-model="ortaAd" id="OrtaAd" placeholder="Orta Ad . . . " required>
                    </div>

                    <div class="form-group">
                        <label class="Soyad" for="form-group-input">Soyad</label>
                        <input type="text" class="form-control" ng-model="soyad" id="Soyad" placeholder="Soyad . . . " required>
                    </div>

                    <div class="form-group">
                        <label class="Email" for="form-group-input">Email</label>
                        <input type="text" class="form-control" ng-model="email" id="Email" placeholder="E mail . . . " required>
                    </div>

                    <div class="form-group">
                        <label class="Telefon" for="form-group-input">Telefon</label>
                        <input type="text" class="form-control" ng-model="tel" id="Telefon" placeholder="Telefon . . . " required>
                    </div>

                </fieldset>

                <button ng-click="UcuncuSayfa()"><a href="#/UcuncuSayfa ">Devam Et</a></button>


            </form>
        </div>
    </div>
</div>