<script>
        $.post('../Birinci/sayfaDurum', { id: 1 }, function (data) {
            if (data.basari == 0) {
                console.log(data);
                if (data.son == 1) window.location = "#/Profil";
                else if (data.son == 2) window.location = "#/Cv";
                else if (data.son == 3) window.location = "#/Evrak";
                else if (data.son == 4) window.location = "#/UcakBilgi";
                else if (data.son == 5) window.location = "#/Egitim";
                else if (data.son == 6) window.location = "#/RandevuAl";
                else if (data.son == 7) window.location = "#/EkBilgi";
                else if (data.son == 9) window.location = "#/Ds160";
                else if (data.son == 10) window.location = "#/Aktivasyon";
                else if (data.son == 1010) window.location = "#/Wat";
                else if (data.son == 1011) window.location = "#/isler";
            }
        });
</script>
<div  ng-controller="BesinciSayfaController">
    <div class="panel panel-info">
        <div class="panel-heading">Vize Evrak Sayfası* </div>
        <div class="container">
            <h2>5.1 Adım</h2>
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <form>
                        <fieldset>
                            <div class="form-group">
                                <label class="DogumUlke" for="form-group-input">Dogum Ulke* </label>
                                <input type="text" class="form-control" ng-model="dogumUlke" id="dogumUlke" placeholder="Dogum Ulke . . ." required>
                            </div>
                            <div class="form-group">
                                <label class="DogumYeri" for="form-group-input">Dogum Yeri* </label>
                                <input type="text" class="form-control" ng-model="dogumYeri" id="dogumYeri" placeholder="Dogum Yeri . . ." required>
                            </div>
                            <div class="form-group">
                                <label class="VatandasUlke" for="form-group-input">Vatandaş Olunan Ülke* </label>
                                <input type="text" class="form-control" ng-model="vatandasUlke" id="vatandasUlke" placeholder="Vatandas Ülke. . ." required>
                            </div>
                            <div class="form-group">
                                <label class="VatandasNo" for="form-group-input">Vatandaş No* </label>
                                <input type="number" class="form-control" ng-model="vatandasNo" id="vatandasNo" placeholder="Vatandas No. . ." required>
                            </div>

                            <div class="form-group">
                                <label class="IkinciVatandasNo" for="form-group-input">İkinci Vatandaş No* </label>
                                <input type="number" class="form-control" ng-model="ikiVatandasNo" id="ikiVatandasNo" placeholder="Iki Vatandas No. . ." required>
                            </div>
                            <div class="form-group">
                                <label class="AbdSsn" for="form-group-input">AbdSsn* </label>
                                <input type="text" class="form-control" ng-model="AbdSsn" id="AbdSsn" placeholder="AbdSsn. . ." required>
                            </div>
                            <div class="form-group">
                                <label class="AmerikadaBulunduMu" for="form-group-input">Amerikada Bulundu Mu* </label>
                                <input type="radio" ng-model="AmerikadaBulunduMu" value="1" id="radio" /> Evet, Var
                                <input type="radio" ng-model="AmerikadaBulunduMu" value="0" /> Hayır, Yok
                            </div>
                            <div class="form-group">
                                <label class="AmerikaBulunduguTarih" for="form-group-input">Amerika Bulundugu Tarih* </label>
                                <input type="date" class="form-control" ng-model="amerikadaBulunmaTarih" id="AbdSsn" placeholder="Amerika Bulundugu Tarih. . ." required>
                            </div>

                            <div class="form-group">
                                <label class="AmerikaBulunduguSure" for="form-group-input">Amerika Bulundugu Süre* </label>
                                <input type="date" class="form-control" ng-model="amerikaBulunduguSure" id="amerikadaKalmaSure" placeholder="Amerika Bulundugu Süre. . ." required>
                            </div>
                            <div class="form-group">
                                <label class="OncedenAmerikaVizesiAldı" for="form-group-input">Onceden Amerika Vizesi Aldı Mı</label>
                                <input type="radio" ng-model="oncedenAmerikaVizesi" value="1" /> Evet, Var
                                <input type="radio" ng-model="oncedenAmerikaVizesi" value="0" /> Hayır, Yok
                            </div>

                            <div class="form-group">
                                <label class="OncedenAmerikaVizeRet" for="form-group-input">Onceden Amerika Vize Ret.</label>
                                <input type="radio" ng-model="OncedenAmerikaVizeRet" value="1" id="radio" /> Evet, Var
                                <input type="radio" ng-model="OncedenAmerikaVizeRet" value="0" /> Hayır, Yok
                            </div>

                            <div class="form-group">
                                <label class="OncedenAmerikaVizeRetNedeni" for="form-group-input">Onceden Amerika Vize Ret Nedeni</label>
                                <input type="text" class="form-control" ng-model="oncedenAmerikaVizeRetNedeni" id="oncedenAmerikaVizeRetNedeni" placeholder="Onceden Amerika Vizesi Ret Neden . . ." required>
                            </div>

                            <div class="form-group">
                                <label class="AmerikaVatandasGocmenBasvuru" for="form-group-input">Amerika Vatandas Gocmen Basvuru.</label>
                                <input type="radio" ng-model="amerikaVatandasGocmenBasvuru" value="1" id="radio" /> Evet, Var
                                <input type="radio" ng-model="amerikaVatandasGocmenBasvuru" value="0" /> Hayır, Yok
                            </div>
                            <div class="form-group">
                                <label class="Eyalet" for="form-group-input">Ingilizce seviyesi </label>
                                <select class="combobox" ng-model="ingilizceSeviye">
                                    <option ng-repeat="i in ingilizces" value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="BabaDogumTarihi" for="form-group-input">Baba Dogum Tarihi</label>
                                <input type="date" class="form-control" ng-model="babaDogumTarihi" id="babaDogumTarihi" placeholder="Baba Dogum Tarihi. . ." required>
                            </div>
                            <div class="form-group">
                                <label class="BabaAmerikadaMi" for="form-group-input">Baba Amerikada Mi.</label>
                                <input type="radio" ng-model="amerikaVatandasGocmenBasvuru" value="1" id="radio" /> Evet, Var
                                <input type="radio" ng-model="amerikaVatandasGocmenBasvuru" value="0" /> Hayır, Yok
                            </div>

                            <div class="form-group">
                                <label class="AskerlikYapti" for="form-group-input">Askerlik Yapti Mi.</label>
                                <input type="radio" ng-model="AskerlikYapti" value="1" id="radio" /> Evet, Var
                                <input type="radio" ng-model="AskerlikYapti" value="0" /> Hayır, Yok
                            </div>

                            <div class="form-group">
                                <label class="SonBesYilYurtdisiGitti" for="form-group-input">Son Bes Yil Yurt disi Gitti.</label>
                                <input type="radio" ng-model="sonBesYil" value="1" id="radio" /> Evet, Var
                                <input type="radio" ng-model="sonBesYil" value="0" /> Hayır, Yok
                            </div>
                            <div class="form-group">
                                <label class="Eyalet" for="form-group-input">Eyalet </label>
                                <select class="combobox" ng-model="bilgiEyalet">
                                    <option ng-repeat="e in eyalets" value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="PostaKodu" for="form-group-input">Posta Kodu</label>
                                <input type="number" class="form-control" ng-model="bilgiPostaKod" id="postaKodu" placeholder="Posta Kodu. . ." required>
                            </div>
                            <div class="form-group">
                                <label class="Ulke" for="form-group-input">Ülke </label>
                                <select class="combobox" ng-model="bilgiUlke">
                                    <option ng-repeat="u in ulkes" value=""></option>
                                </select>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            </div>
        </div>
        <!--Kisisel Detay-->
    </div>
<script>
    $.post('../Birinci/RenkDurumCek', function (data) {

        $('#dashboard').attr("style", "background-color:green");

        if (data.birincisayfa == "1")
            $('#birincisayfa').attr("style", "background-color:gray");
        else
            $('#birincisayfa').attr("style", "background-color:green");

        //besinci sayfa
        if (data.besincisayfa == "1")
            $('#besincisayfa').attr("style", "background-color:gray");
        else
            $('#besincisayfa').attr("style", "background-color:green");


        //aktivasyon sayfa
        if (data.aktivasyon == "1")
            $('#aktivasyon').attr("style", "background-color:gray");
        else
            $('#aktivasyon').attr("style", "background-color:green");


        //radevu al sayfa
        if (data.randevual == "1")
            $('#randevual').attr("style", "background-color:gray");
        else
            $('#randevual').attr("style", "background-color:green");


        //ikicisayfa sayfa
        if (data.ikincisayfa == "1")
            $('#ikincisayfa').attr("style", "background-color:gray");
        else
            $('#ikincisayfa').attr("style", "background-color:green");

        //ucuncusayfa sayfa
        if (data.ucuncusayfa == "1")
            $('#ucuncusayfa').attr("style", "background-color:gray");
        else
            $('#ucuncusayfa').attr("style", "background-color:green");


        //dorduncusayfa sayfa
        if (data.dorduncusayfa == "1")
            $('#dorduncusayfa').attr("style", "background-color:gray");
        else
            $('#dorduncusayfa').attr("style", "background-color:green");



        //ucakbilgi sayfa
        if (data.ucakbilgi == "1")
            $('#ucakbilgi').attr("style", "background-color:gray");
        else
            $('#ucakbilgi').attr("style", "background-color:green");

        //isler sayfa
        if (data.isler == "1")
            $('#isler').attr("style", "background-color:gray");
        else
            $('#isler').attr("style", "background-color:green");

        //cv sayfa
        if (data.tahsilat == "1")
            $('#taksitbilgi').attr("style", "background-color:gray");
        else
            $('#taksitbilgi').attr("style", "background-color:green");

        //cv sayfa
        if (data.cv == "1")
            $('#cv').attr("style", "background-color:gray");
        else
            $('#cv').attr("style", "background-color:green");

        //cv sayfa
        if (data.isler == "1")
            $('#isler').attr("style", "background-color:gray");
        else
            $('#isler').attr("style", "background-color:green");

        //cv sayfa
        if (data.wat == "1")
            $('#wat').attr("style", "background-color:gray");
        else
            $('#wat').attr("style", "background-color:green");
    });

</script>