<script>
        $.post('../Birinci/sayfaDurum', { id: 13 }, function (data) {
            if (data.basari == 0) {
                console.log(data);
                if (data.son == 1) window.location = "#/Profil";
                else if (data.son == 2) window.location = "#/Cv";
                else if (data.son == 3) window.location = "#/Evrak";
                else if (data.son == 4) window.location = "#/UcakBilgi";
                else if (data.son == 5) window.location = "#/Egitim";
                else if (data.son == 6) window.location = "#/RandevuAl";
                else if (data.son == 7) window.location = "#/EkBilgi";
                else if (data.son == 9) window.location = "#/Ds160";
                else if (data.son == 10) window.location = "#/Aktivasyon";
                else if (data.son == 1010) window.location = "#/Wat";
                else if (data.son == 1011) window.location = "#/isler";
            }
        });
</script>

<style>
    .gizli {
        display: none;
    }

    .gozuken {
        display: block;
    }
</style>

<div class="tab-pane" id="aktivasyon">

    <div ng-controller="KisiTanimaController">
        <h3>{{aktivasyonMesaj}}</h3>
            <fieldset>
                <!-- required html5 o input dolu olack :D -->
                <div class="panel panel-danger">
                    <div class="panel-heading">WAT Sözleşmesi İndir* </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <a href="/WATSozlesme/Index/{{session}}" target="_blank" class="form-control">WAT Sözleşmesi indir</a>
                            Yukarıdaki butona tıklayıp sözleşmeyi indirmeniz ve ardından imzalayıp alttaki panelden yüklemeniz gerekmektedir.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">

                    <div class="panel-heading">WAT Sözleşmesi Yükle* </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <form novalidate name="f1" id="evrakvepasaport">
                                <a id="dort_1d" ng-if="Wat_URL !== ''" href="Images/{{Wat_URL}}"> WAT Göster</a>
                                <a id="dort_1d" ng-if="Wat_URL === ''" style="display:none"> WAT Göster</a>
                                <input type="file" name="file" accept="*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                <input type="submit" ng-click="SaveFile(1,1)" value="Yükle" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                </div>
            </fieldset>
    </div>
</div>
<script>
    //7. sayfa onayı
    function sozlesme(){
        var files = $("#wat").target.files;
        //var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '/Wat/UploadHomeReport?id=' + myID,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    }
</script>
<script>
    $.post('../Birinci/RenkDurumCek', function (data) {
        if (data.birincisayfa == "1")
            $('#birincisayfa').attr("style", "background-color:gray");
        else
            $('#birincisayfa').attr("style", "background-color:green");

        //besinci sayfa
        if (data.besincisayfa == "1")
            $('#besincisayfa').attr("style", "background-color:gray");
        else
            $('#besincisayfa').attr("style", "background-color:green");


        //aktivasyon sayfa
        if (data.aktivasyon == "1")
            $('#aktivasyon').attr("style", "background-color:gray");
        else
            $('#aktivasyon').attr("style", "background-color:green");


        //radevu al sayfa
        if (data.randevual == "1")
            $('#randevual').attr("style", "background-color:gray");
        else
            $('#randevual').attr("style", "background-color:green");


        //ikicisayfa sayfa
        if (data.ikincisayfa == "1")
            $('#ikincisayfa').attr("style", "background-color:gray");
        else
            $('#ikincisayfa').attr("style", "background-color:green");

        //ucuncusayfa sayfa
        if (data.ucuncusayfa == "1")
            $('#ucuncusayfa').attr("style", "background-color:gray");
        else
            $('#ucuncusayfa').attr("style", "background-color:green");


        //dorduncusayfa sayfa
        if (data.dorduncusayfa == "1")
            $('#dorduncusayfa').attr("style", "background-color:gray");
        else
            $('#dorduncusayfa').attr("style", "background-color:green");



        //ucakbilgi sayfa
        if (data.ucakbilgi == "1")
            $('#ucakbilgi').attr("style", "background-color:gray");
        else
            $('#ucakbilgi').attr("style", "background-color:green");

        //isler sayfa
        if (data.isler == "1")
            $('#isler').attr("style", "background-color:gray");
        else
            $('#isler').attr("style", "background-color:green");

        //cv sayfa
        if (data.tahsilat == "1")
            $('#taksitbilgi').attr("style", "background-color:gray");
        else
            $('#taksitbilgi').attr("style", "background-color:green");

        //cv sayfa
        if (data.cv == "1")
            $('#cv').attr("style", "background-color:gray");
        else
            $('#cv').attr("style", "background-color:green");

        //cv sayfa
        if (data.isler == "1")
            $('#isler').attr("style", "background-color:gray");
        else
            $('#isler').attr("style", "background-color:green");

        //cv sayfa
        if (data.wat == "1")
            $('#wat').attr("style", "background-color:gray");
        else
            $('#wat').attr("style", "background-color:green");
    });

</script>