@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Client/KisiModul.js"></script>
<script src="~/Client/KisiTanimaController.js"></script>
<script src="~/Client/Part8Controller.js"></script>



<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <div data-ng-app="KisiModul">
                <ng-view>

                </ng-view>
            </div>
        </div>
    </div>
</div>

