
@{
    ViewBag.Title = "OgrenciListele";
    Layout = "~/Views/Shared/_YonetimLayout.cshtml";
}
@model IEnumerable<westline_alfa.Models.Kullanici>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>

            <th>Ad Soyad</th>
            <th>Gözat</th>
        </tr>
    </thead>
    <tbody>
        <form action="/YonetimPanel/OnayVer" method="post">
            @foreach (var i in Model.Where(x=>x.AdminOnay == true))
            {
                <tr>
                    <td>@i.Id</td>
                    <td>@i.Degers.FirstOrDefault(x => x.InputId == 2).Icerik @i.Degers.FirstOrDefault(x => x.InputId == 4).Icerik</td>
                    <td><button style="margin-left:20px; margin-top:5px;" type="submit" class="btn btn-success">Gözat</button></td>
                </tr>
            }
        </form>
</tbody>
</table>

