
@{
    ViewBag.Title = "OgrenciListele";
    Layout = "~/Views/Shared/_YonetimLayout.cshtml";
}
@model IEnumerable<westline_alfa.Models.Kullanici>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>

            <th>Ad Soyad</th>
            <th>Gözat</th>
        </tr>
    </thead>
    <tbody>

            @foreach (var i in Model.Where(x=>x.AdminOnay == true))
            {
                <tr>
                    <td>@i.Id</td>
                    <td>@i.KullaniciAdi</td>
                    <td><a style="margin-left:20px; margin-top:5px;" href="/YonetimPanel/OgrenciDetay/@i.Id" type="submit" class="btn btn-success">Gözat</a></td>
                </tr>
            }
</tbody>
</table>

